*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
img{
	width: 100%;
	height: 100%;
}
.clear{
	clear: both;
}
.container{
	width: 900px;
}
.video{
	position: relative;
}
.video video{
	width: 100%;
}
.infobottom{
	background-color: #fff;
	width: 532px;
	height: 75px;
	position: absolute;
	padding: 20px;
	bottom: 6px;
}
.infobottom p{
	vertical-align: middle;
	font-size: 12px;
	margin: 20px 50px;
}
.inforight{
	border: 2px solid #fff;
	width: 118px;
	height: 318px;
	position: absolute;
	left: 700px;
    bottom: 200px;
}
.inforight p{
    color: #fff;
    letter-spacing: .5em;
    line-height: 1.5;
    writing-mode: vertical-rl;
    position: relative;
    left: 35px;
    top: 30px;
}
.aboutleft{
	width: 50%;
	height: 372px;
	background-color: #000;
	float: left;
	
}
.aboutleft img{
	width: 50%;
	position: relative;
	left: 100px;
    top: 24px;
}
.aboutright{
	width: 50%;
	height: 372px;
	background-color: #f8f8f8;
	float: left;
}
.aboutright p{
	color: #6b6b6b;
	letter-spacing: .08em;
    text-align: justify;
    font-size: 14px;
    line-height: 2.3;
    margin: 30px;
}
.three{
	background-color: #f8f8f8;
	width: 100%;
}

.threebox img:hover{
	width: 80%;
	height: 80%;
}
.threebox{
	float: left;
	width: 25%; 
	height: 310px;
	margin: 5px 30px;
	position: relative;
}
.text{
	color: #fff;
	text-align: center;
    letter-spacing: .12em;
    font-size: 36px;
	position: absolute;
	left: 50px;
    top: 100px;
}

.text p.small{
	font-size: 12px;
}
.banner{
	margin: 20px;
}
.bannerhead h2{
    text-decoration: none;
    font-size: 26px;
    line-height: 1.31429;
    letter-spacing: .14em;
}
.bannerhead span{
	font-size: 11px;
    vertical-align: middle;
    margin-left: .7em;
}
.bannerhead p{
	font-size: 13px;
	letter-spacing: .14em;
	position: relative;
	left: 80%;
    top: -25px;
}

.bannerhead p::after{
	content: "";
    width: 132px;
    height: 1px;
    background-color: #3f3f3f;
    position: absolute;
    bottom: -5px;
    left: 0;
    
}

.bannertwo {
	margin-top: 40px;
	height: 250px;
	background-image: url('https://ureshinochadoki.shop/template/ureshino/img/saryo/shunmu/kv_bg.jpg');
	background-size: 100% 100%;
	position: relative;
	color: #000;
	letter-spacing: .14em;
}
.bannertwo h3{
	position: absolute;
	top: 100px;
    left: 58px;
    font-size: 25px;
}

.bannertwo p{
	font-size: 13px;
	color: #FFF;
	position: absolute;
    top: 115px;
    left: 85%;
}

.intro{
	width: 100%;
	height: 400px;
}
.intro p{
    font-size: 16px;
    color: #fff;
	text-align: center;
    letter-spacing: .12em;
}
.intro.left{
	float: left;
	width: 50%;
	height: 360px;
}
.intro.right{
	float: left;
	width: 50%;
	height: 360px;
}
.one{
	margin: 40px;
	height: 360px;
	background-image: url('https://ureshinochadoki.shop/template/ureshino/img/know/tea/kv_bg.jpg');
	background-size: 100% 100%;
	position: relative;
}
.one p{
	position: absolute;
	left: 50px;
	top: 150px;
}
.two{
	margin: 40px;
	height: 160px;
	background-size: 100% 100%;
	position: relative;
}
.two p{
	position: absolute;
	left: 50px;
	top: 60px;

}
.two.up{
	background-image: url('https://ureshinochadoki.shop/template/ureshino/img/know/ureshino/kv_bg.jpg');	
	
}
.two.down{
	background-image: url('https://ureshinochadoki.shop/template/ureshino/img/producer/kv_bg.jpg');
}
